body {

    background-image: url('https://images.unsplash.com/photo-1628006203055-b4aa5f6300f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');


}

#recipe-search {
    border-style: solid;
    border-color: black;
    border-radius: 2%;
    background-color: grey ;
}
