{% extends 'base.html' %}
{% block content %}
    <div class="container" style="margin-top: 10%;" id="results">
       
        <div class="row">
            {% for recipe in favourites %}
            <div class="card col-md3" style="width: 18rem; margin: 1rem;">
                <img src="{{recipe.image_url}}" class="card-img-top object-fit-fill" alt="img show {{recipe.title}}">
                <p></p>
                <div class="card-body">
                   {% if g.user %} 
                            <i class="fa-solid fa-star fa-lg" id ="star" data-recipe="{{recipe.spoonacular_id}}"></i> 
                   {% endif %} 
                    <h5 class="card-title">{{recipe.title}} </h5>
                    
                    <div style = "margin-bottom: 6%; margin-top: -2%;"> 
                        {% if not ratings.get(recipe.id) %}
                        <span>Please Rate:</span>
                        <i class="fa-regular fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        
                       
                        {% elif ratings.get(recipe.id) > 4 %}
                        <span>Your Rating:</span>
                        <i class="fa-solid fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        {% elif ratings.get(recipe.id) > 3 %}
                        <span>Your Rating:</span>
                        <i class="fa-solid fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        {% elif ratings.get(recipe.id) > 2 %}
                        <span>Your Rating:</span>
                        <i class="fa-solid fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        {% elif ratings.get(recipe.id) > 1 %}
                        <span>Your Rating:</span>
                        <i class="fa-solid fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        {% elif ratings.get(recipe.id) > 1 %}
                        <span>Your Rating:</span>
                        <i class="fa-solid fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-solid fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        {% elif ratings.get(recipe.id) >0 %}
                        <span>Your Rating:</span>
                        <i class="fa-solid fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        {% else %}
                        <span>Your Rating:</span>
                        <i class="fa-regular fa-heart" id ="rating-heart 1" data-number="1" data-recipe="{{recipe.id}}"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 2" data-recipe="{{recipe.id}}" data-number="2"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 3" data-recipe="{{recipe.id}}" data-number="3"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 4" data-recipe="{{recipe.id}}" data-number="4"></i>
                        <i class="fa-regular fa-heart" id ="rating-heart 5" data-recipe="{{recipe.id}}" data-number="5"></i>
                        {% endif %}
                    </div>




                 
                    <a href="/recipes/{{recipe.spoonacular_id}}" class="btn btn-outline-secondary" style="background-color: rgb(191, 226, 168)">See Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}